* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-image: url("./line-bgimg.jpg"); */
    background-position: center;
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;

}

.nav {
    width: 100%;
    height: 15%;
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: gray;
    position: fixed;
    z-index: 1;
    top: 0;
    float: left;
}

/* .nav>div:nth-child(1) {
    transition: transform 2s, rotate;
    animation: slide 2s infinite;
    z-index: 2;
}

.nav>div:nth-child(1):hover {
    transform: translate(650px, 100px) scale(1) rotate(720deg);
}

@keyframes slide {
    100% {
        transform: translate(1500px, 100px) scale(1) rotate(720deg);

    }
} */

.nav-select {
    margin: auto;
    display: flex;
    width: 500px;
    align-items: center;
    justify-content: space-around;
    color: yellow;
}

.nav-select>button {
    width: 130px;
    height: 40px;
    border-radius: 8px;
    font-size: 1.1em;
}

.nav-select>button>a {
    text-decoration: none;
}


.nav-select>h3 {
    font-size: 1.5rem;
}

.select {
    margin: auto;
    width: 700px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.select>button {
    font-size: 1.1em;
    border-radius: 5px;
    width: 150px;
    height: 40px;
}

/* ========== Grid Block ======= */
.main-grid {
    gap: 60px;
    margin: 50px;
    box-shadow: -30px 24px 30px 0px green;
}

.cards {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    transition: transform 3s, box-shadow;
}

.cards .card-body {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.cards img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.cards:hover {
    box-shadow: 15px 15px 15px 2px black;
    transform: scale(1.05);
}



/* ======== Grid-rating button ======= */
.rate button {
    display: flex;
    width: 59px;
    border-radius: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    float: right;
}

.rate b {
    color: white;
}

.rate svg {
    margin-top: 4px;
}

.contact p {
    margin-top: 30px;
}

/* ========    MEDIA QUERY FOR LARGE :-moz-full-screen  ========= */
@media (min-width: 1025px) {
    .logoimg {
        margin-top: 10px;
        margin-left: 10px;
    }

    .logotext {
        color: white;
        font-size: 20px;
        letter-spacing: 0.1cap;
        padding-left: 40px;
        padding-top: 5px;
    }
    
    .nav-select{
        margin: auto;
        margin-top: 20px;
    }
    nav {
        width: 100%;
        height: 15%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: gray;
        position: fixed;
        z-index: 1;
        top: 0;
        float: left;
    }

    .nav-select button {
        width: 100px;
        z-index: 2;
    }

    .nav-select button:hover {
        background-color: green;
        width: 100px;

        #home {
            color: white;
        }

    }


    .logo {
        z-index: 1;
        position: relative;
        margin: 5px;
        margin-bottom: 45px;
    }

    .logo img {
        width: 30px;
        height: 30px;
        border-radius: 8px;
        position: absolute;
        z-index: 1;

    }

    #img_div {
        margin-top: 16px;
        margin-left: 10px;
    }

    .carousel {
        width: 100%;
        height: 500px;
        background-image: url("./Cover-carousel.jpg");
        background-position: center;
        background-size: cover;
    }

    .carousel-inner img {
        transition: transform 3s;
        transform: scale(1.5)
    }

    .carousel-inner img:hover {
        transform: scale(1.1) translate(90px, 20px);
    }

    #carouselExample img {
        height: 400px;
    }

    #carouselExample {
        width: 80%;
        height: 350px;
        margin-top: 115px;
        transition: transform 2s;
        transform: translate(260px, 100px);
    }

    #carouselExample:hover {
        transform: translate(0px, 0px);
    }

    /* ======= LoGo block of code ======== */
    /* .nav>div:nth-child(1) {
        transition: transform 2s, rotate;
        animation: slide 4s 2;
        z-index: 2;
    }

    .nav>div:nth-child(1):hover {
        transform: translate(600px, 100px) scale(1) rotate(720deg);
    }

    @keyframes slide {
        100% {
            transform: translate(1500px, 50px) scale(1) rotate(720deg);

        }
    } */


    /* ============ Nav-Items section ================== */

    .a-col-1 {
        font-size: 1.4em;
    }

    #a-restaurant-select,
    #a-dish-select,
    #b-restaurant-select,
    #b-dish-select,
    #h-restaurant-select,
    #h-dish-select {
        width: 180px;
        height: 35px;
    }

    .city-row,
    .select-andhra {

        position: fixed;
        z-index: 1;
        width: 100%;
        margin-top: 155px;
        margin-bottom: 40px;
        display: flex;
        background-color: orange;
        padding: 8px;
        border-radius: 3px;
        gap: 30px;

    }

    .city-row h3,
    .select-andhra h3 {
        border: 0.5px solid;
        color: white;
        border-radius: 5px;
        width: 320px;
    }

    .row-andhra,
    .row-hyd,
    .row-bang {
        display: flex;
    }

    /* ========== Grid - Cards =========== */
    .main-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 60px;
        margin: 50px;
        margin-top: 60px;
        box-shadow: -30px 24px 30px 0px green;

    }

    .cards {
        margin: auto;
    }

    .main-grid .cards .card-img {
        width: 350px;
        height: 250px;
    }

    .main-grid .cards .card-body {
        width: 350px;
        height: 300px;
        background: #f5f2f0;
        color: rgb(64, 68, 54);
        padding: 10px 15px;
    }

    /* ======== Grid-rating button ======= */

    .btns {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .btns button {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        height: 35px;
        width: 100px;
        background-color: orange;
    }

    .btns a {
        color: white;
        text-decoration: none;
    }

    .btns button:hover {
        background: green;

    }

    .btns a:hover {
        color: white;
    }


    /* ========== foooter block ======== */
    .footer {
        font-size: 20px;
        width: 100%;
        height: auto;
        background: orange;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 30px;
    }

    .copy-right {
        font-size: 18px;
    }
}


/* ========    MEDIA QUERY FOR LARGE :LAPTOP FULL-screen  ========= */
@media (min-width: 769px) and (max-width:1024px) {
    .carousel {
        width: 100%;
        height: 450px;
        background-image: url("./Cover-carousel.jpg");
        background-position: center;
        background-size: cover;
    }

    .carousel-inner img {
        transition: transform 3s;
        transform: scale(1.5)
    }

    .carousel-inner img:hover {
        transform: scale(1.1) translate(90px, 20px);
    }

    #carouselExample img {
        height: 350px;
    }

    #carouselExample {
        width: 80%;
        height: 350px;
        margin-top: 90px;
        transition: transform 2s;
        transform: translate(180px, 100px);
    }

    #carouselExample:hover {
        transform: translate(0px, 0px);
    }


    /* ========== LOGO RESPONSIVE ========= */

    .nav>div:nth-child(1) {
        transition: transform 2s, rotate;
        animation: slide 3s 1;
        z-index: 2;
    }

    .nav>div:nth-child(1):hover {
        transform: translate(450px, 50px) scale(1) rotate(720deg);
    }

    /* lOGO animation section */
    @keyframes slide {
        100% {
            transform: translate(450px, 50px) scale(1) rotate(720deg);

        }
    }

    nav {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: gray;
        position: fixed;
        z-index: 1;
        /* top: 0; */
        float: left;
    }

    .nav-select button {
        z-index: 2;
        background-color: green;
        width: 100px;
        height: 30px;
    }

    .logo {
        z-index: 1;
        position: relative;
        margin: 5px;
        margin-bottom: 45px;
    }

    .logo img {
        width: 30px;
        height: 30px;
        position: absolute;
        z-index: 1;
    }

    #img_div {
        margin-top: 10px;
        margin-left: 7px;
    }

    /* ============ Nav-Items section ================== */
    #Area {
        height: 35px;
        width: 160px;
        /* border-radius: 10px; */
    }

    .a-col-1 {
        font-size: 1.2em;
    }

    #a-restaurant-select,
    #a-dish-select,
    #b-restaurant-select,
    #b-dish-select,
    #h-restaurant-select,
    #h-dish-select {
        width: 160px;
        height: 30px;
    }

    .city-row,
    .select-andhra {

        position: fixed;
        z-index: 1;
        width: 100%;
        margin-top: 90px;
        display: flex;
        background-color: palevioletred;
        padding: 8px;
        border-radius: 3px;
        gap: 30px;

    }

    .city-row h3,
    .select-andhra h3 {
        border: 0.5px solid;
        color: whitesmoke;
        border-radius: 5px;
        font-size: 20px;
    }

    .row-andhra,
    .row-hyd,
    .row-bang {
        display: flex;
    }

    /* ===== Grid ITEMS animation ====== */
    .main-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 60px;
        margin: 100px;
        /* margin-left: 100px; */
    }

    .cards {
        margin: auto;
    }

    .main-grid .cards .card-img {
        width: 350px;
        height: 250px;
    }

    .main-grid .cards .card-body {
        width: 350px;
        height: 300px;
        background: #f5f2f0;
        color: rgb(64, 68, 54);
        padding: 20px 15px;
    }

    .btns {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .btns button {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        height: 35px;
        width: 90px;
        background-color: palevioletred;
    }

    .btns a {
        color: white;
        text-decoration: none;
    }

    .btns button:hover {
        background: green;

    }

    .btns a:hover {
        color: white;
    }

    .footer {
        font-size: 22px;
        width: 100%;
        height: auto;
        background: rgba(202, 65, 65, 0.911);
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 30px;
    }

    .copy-right {
        font-size: 20px;
    }
}

/* ========    MEDIA QUERY FOR LARGE :TABLET FULL-screen  ========= */
@media (min-width: 426px) and (max-width:768px) {

    .carousel {
        width: 100%;
        height: 450px;
        background-image: url("./Cover-carousel.jpg");
        background-position: center;
        background-size: cover;
    }

    .carousel-inner img {
        transition: transform 3s;
        transform: scale(1.5)
    }

    .carousel-inner img:hover {
        transform: scale(1.1) translate(90px, 20px);
    }

    #carouselExample img {
        height: 350px;

    }

    #carouselExample {
        width: 80%;
        height: 300px;
        margin-top: 100px;
        transition: transform 2s;
        transform: translate(130px, 100px);
    }

    #carouselExample:hover {
        transform: translate(0px, 0px);
    }



    /* ========== LOGO RESPONSIVE ========= */
    .nav>div:nth-child(1) {
        transition: transform 2s, rotate;
        animation: slide 3s 1;
        z-index: 2;
    }

    .nav>div:nth-child(1):hover {
        transform: translate(300px, 50px) scale(1) rotate(720deg);
    }

    /* lOGO animation section */
    @keyframes slide {
        100% {
            transform: translate(300px, 50px) scale(1) rotate(720deg);

        }
    }

    nav {
        width: 100%;
        height: 22%;
        display: flex;
        align-items: center;
        /* justify-content: center; */
        background: gray;
        position: fixed;
        z-index: 1;
        top: 0;
        /* float: left; */
    }

    .nav-select .home {
        z-index: 2;
        width: 80px;
        height: 35px;
        background-color: green;

        #home {
            color: white;
        }
    }


    .logo {
        /* width: 100px;
        height: 100px; */
        z-index: 1;
        position: relative;
        margin: 5px;
        margin-bottom: 45px;
        /* margin-top: 0px; */
    }

    .logo img {
        width: 30px;
        height: 30px;
        border-radius: 8px;
        position: absolute;
        z-index: 1;
        /* border: 1.1px solid; */
    }

    #img_div {
        margin-top: 10px;
        margin-left: 7px;
    }

    /* ============ Nav-Items section ================== */

    .a-col-1 {
        font-size: 1.2em;
        margin-left: 10px;
    }

    #a-restaurant-select,
    #a-dish-select,
    #b-restaurant-select,
    #b-dish-select,
    #h-restaurant-select,
    #h-dish-select {
        margin-top: 25px;
        width: 170px;
        height: 30px;
        margin-right: 20px;
    }

    .city-row,
    .select-andhra {

        position: fixed;
        /* z-index: 1; */
        width: 100%;
        margin-top: 100px;
        display: flex;
        background-color: palevioletred;
        border-radius: 3px;

    }

    .city-row h3,
    .select-andhra h3 {
        color: white;
        border-radius: 5px;
        font-size: 20px;
        padding: 5px;
    }

    .row-andhra,
    .row-hyd,
    .row-bang {
        display: flex;
    }

    /* ===== Grid ITEMS animation ====== */
    .main-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
        padding: 50px;
    }

    .cards {
        margin: auto;
    }

    .main-grid .cards .card-img {
        width: 250px;
        height: 200px;
    }

    .main-grid .cards .card-body {
        width: 250px;
        height: 300px;
        background: #f5f2f0;
        color: rgb(64, 68, 54);
        padding: 20px 15px;
    }

    .btns {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .btns button {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        height: 35px;
        width: 80px;
        background-color: palevioletred;
    }

    .btns a {
        color: white;
        text-decoration: none;
    }

    .btns button:hover {
        background: green;

    }

    .btns a:hover {
        color: white;
    }

    .copy-right {
        font-size: 13px;
    }

    .footer {
        width: 100%;
        height: auto;
        background: rgba(202, 65, 65, 0.911);
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 30px;
    }
}

/* ========    MEDIA QUERY FOR LARGE :MOBILE FULL-screen  ========= */
@media (min-width:10px) and (max-width:425px) {
    .carousel {
        width: 100%;
        height: 450px;
        background-image: url("./Cover-carousel.jpg");
        background-position: center;
        background-size: cover;
    }

    .carousel-inner img {
        transition: transform 3s;
        transform: scale(1)
    }

    .carousel-inner img:hover {
        transform: scale(1) translate(90px, 20px);
    }

    #carouselExample img {
        height: 350px;

    }

    #carouselExample {
        width: 80%;
        height: 300px;
        margin-top: 180px;
        transition: transform 2s;
        transform: translate(60px, 100px);
    }

    #carouselExample:hover {
        transform: translate(0px, 0px);
    }


    /* ========== LOGO RESPONSIVE ========= */
    .nav>div:nth-child(1) {
        transition: transform 2s, rotate;
        animation: slide 2s infinite;
        z-index: 2;
    }

    .nav>div:nth-child(1):hover {
        transform: translate(50px, 50px) scale(1) rotate(720deg);
    }

    /* ==== lOGO animation section ====== */
    @keyframes slide {
        100% {
            transform: translate(50px, 50px) scale(1) rotate(720deg);

        }
    }

    nav {
        width: 100%;
        background: gray;
        position: fixed;
        z-index: 1;
        top: 0;
    }

    .nav-select .home {
        z-index: 2;
        width: 70px;
        height: 30px;
        background-color: green;
        margin: auto;

        #home {
            color: white;
            font-size: 15px;

        }
    }

    .nav-select {
        /* border: solid; */
        margin: 0px 20px 25px 0px;
    }

    .logo {
        z-index: 1;
        /* margin: 0px 5px 10px; */
        margin-top: 0px;
    }

    .logo img {
        width: 30px;
        height: 30px;
        border-radius: 8px;
        position: absolute;
        z-index: 1;

    }

    #img_div {
        margin-top: 10px;
        margin-left: 5px;
    }

    /* ============ Nav-Items section ================== */
    .nav-select {
        margin-left: 230px;
        display: flex;
        flex-direction: column;
    }

    .nav-select>button {
        width: 80px;
        height: 20px;
        border-radius: 8px;
        font-size: 10px;
    }

    .nav-select>button>a {
        text-decoration: none;
    }

    .nav-select>h3 {
        font-size: 13px;
    }


    .select-andhra {
        width: 100%;
        border: 1.1px solid;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        margin-top: 180px;
        background-color: palevioletred;
    }

    .select-andhra h3 {
        margin-right: 120px;
        font-size: 1.09em;
        border: 0.5px solid;
        color: orange;
        border-radius: 5px;

    }

    .row-andhra {
        display: flex;
        flex-direction: column;
        margin-right: 0px;
        /* gap: 10px; */
        width: 150px;
    }

    .a-col-1,
    .a-col-2 {
        /* border: 0.5px solid; */
        display: flex;
        flex-direction: column;
        margin-right: 0px;
        /* margin-left: 120px; */

    }

    .a-col-1 {
        width: 170px;
        font-size: 1.1em;
        color: rebeccapurple;
    }

    #a-restaurant-select,
    #a-dish-select,
    #b-select,
    #h-select {
        width: 160px;
        height: 30px;
        border-radius: 5px;
    }

    .city-row {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
    }

    .city-row h3 {
        border: 0.5px solid;
        color: orange;
        margin-right: 30px;
        border-radius: 5px;
    }

    #a-restaurant-select,
    #a-dish-select,
    #b-restaurant-select,
    #b-dish-select,
    #h-restaurant-select,
    #h-dish-select {
        width: 160px;
        height: 30px;
    }

    /* ===== Grid ITEMS animation ====== */
    .main-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);

    }

    .main-grid .cards .card-img {
        width: 230px;
        height: 150px;

    }

    .main-grid .cards .card-body {
        width: 230px;
        height: 230px;
        background: #f5f2f0;
        color: rgb(64, 68, 54);
        padding: 15px 10px 20px;
        font-size: 10px;
        /* row-gap: 100px; */
    }

    .rate button {
        display: flex;
        width: 59px;
        border-radius: 5px;
        padding-top: 0px;
        padding-bottom: 0px;
        float: right;
    }

    .rate b {
        color: white;
        font-size: 12px;
    }

    .rate svg {
        width: 15px;
        height: 15px;
        margin: 1px;
        padding-left: 2px;
    }

    .btns {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;
    }

    .btns button {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 3px;
        height: 25px;
        background: orange;
    }

    .btns a {
        text-decoration: none;
        color: white;
    }

    .btns button:hover {
        background: green;

    }

    .footer>div {

        width: 100%;
        height: auto;
        background-color: hwb(0 0% 100% / 0.329);
        color: white;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 30px;
        margin-left: 0px;
    }

    .copy-right {
        font-size: 13px;
    }

}




.footer>div {

    width: 100%;
    height: auto;
    background-color: hwb(0 0% 100% / 0.329);
    color: white;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 30px;
    margin-left: 0px;
}

.copy-right {
    font-size: 13px;
}

#img_div>div {
    width: 20px;
    height: 20px;
    background: hsl(320, 100%, 59%);
    border-radius: 50%;
    position: absolute;
    animation: rot 2s infinite;

}

@keyframes rot {
    50% {
        /* transform: rotate(760deg); */
        background-color: red;
    }

    25% {

        background-color: #bbff00;
    }

    75% {

        background-color: hwb(39 29% 7%);
    }

    100% {
        transform: rotate(360deg);
        background-color: hsl(320, 100%, 59%);
    }
}

#img_div>div:nth-child(1) {
    transform: translateY(150px);
}

#img_div>div:nth-child(2) {
    transform: translateY(-150px);
}

#img_div>div:nth-child(3) {
    transform: translate(130px, 80px);
}

#img_div>div:nth-child(4) {
    transform: translate(-130px, 80px);
}

#img_div>div:nth-child(5) {
    transform: translate(130px, -80px);
}

#img_div>div:nth-child(6) {
    transform: translate(-130px, -80px);
}

/* img {
    width: 20px;
    height: 20px;
} */